In [57]:
# Setup

import psycopg2
import pandas as pd

In [48]:
# Localhost PostgreSQL

host = "localhost"
database = "postgres"
user = "postgres"
passw = ""

In [49]:
# Connection string
conn_str = "host={} dbname={} user={} password={}".format(host, database, user, passw)

In [50]:
# Connect
connection = psycopg2.connect(conn_str)

In [51]:
# Initial query
q1 = 'SELECT * FROM payment'

In [52]:
# "Cold server, cold client"
df = pd.read_sql(q1, con=connection)

In [58]:
# Iteration 1
df_1 = pd.read_sql(q1, con=connection)

In [59]:
# Iteration 2
df_2 = pd.read_sql(q1, con=connection)

In [60]:
# Iteration 3
df_3 = pd.read_sql(q1, con=connection)

In [75]:
# FULL OUTER JOIN query
q_outer_join = 'SELECT * FROM payment p \
    FULL OUTER JOIN \
    customer c ON p.customer_id = c.customer_id \
    FULL OUTER JOIN \
    store s ON c.store_id = s.store_id \
    FULL OUTER JOIN \
    address a ON a.address_id = c.address_id \
    FULL OUTER JOIN \
    rental r ON p.rental_id = r.rental_id'

In [76]:
# FULL OUTER JOIN query result
df_outer_join = pd.read_sql(q_outer_join, con=connection)

In [80]:
# Display results
df_outer_join

,payment_id,customer_id,staff_id,rental_id,amount,payment_date,customer_id,store_id,first_name,last_name,...,postal_code,phone,last_update,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,16050.0,269.0,2.0,7.0,1.99,2017-01-24 21:40:19.996577-08:00,269.0,1.0,CASSANDRA,WALTERS,...,75090,685010736240,2017-02-15 17:57:20+00:00,7.0,2005-05-24 23:11:53-07:00,3995.0,269.0,2005-05-30 03:34:53+00:00,2.0,2017-02-15 17:57:20+00:00
1,16051.0,269.0,1.0,98.0,0.99,2017-01-25 15:16:50.996577-08:00,269.0,1.0,CASSANDRA,WALTERS,...,75090,685010736240,2017-02-15 17:57:20+00:00,98.0,2005-05-25 16:48:24-07:00,2970.0,269.0,2005-05-27 18:29:24+00:00,2.0,2017-02-15 17:57:20+00:00
2,16052.0,269.0,2.0,678.0,6.99,2017-01-28 21:44:14.996577-08:00,269.0,1.0,CASSANDRA,WALTERS,...,75090,685010736240,2017-02-15 17:57:20+00:00,678.0,2005-05-28 23:15:48-07:00,3741.0,269.0,2005-06-03 11:43:48+00:00,2.0,2017-02-15 17:57:20+00:00
3,16053.0,269.0,2.0,703.0,0.99,2017-01-29 00:58:02.996577-08:00,269.0,1.0,CASSANDRA,WALTERS,...,75090,685010736240,2017-02-15 17:57:20+00:00,703.0,2005-05-29 02:29:36-07:00,1123.0,269.0,2005-06-03 11:54:36+00:00,2.0,2017-02-15 17:57:20+00:00
4,16054.0,269.0,1.0,750.0,4.99,2017-01-29 08:10:06.996577-08:00,269.0,1.0,CASSANDRA,WALTERS,...,75090,685010736240,2017-02-15 17:57:20+00:00,750.0,2005-05-29 09:41:40-07:00,730.0,269.0,2005-05-30 20:31:40+00:00,1.0,2017-02-15 17:57:20+00:00
5,16055.0,269.0,2.0,1099.0,2.99,2017-01-31 12:23:14.996577-08:00,269.0,1.0,CASSANDRA,WALTERS,...,75090,685010736240,2017-02-15 17:57:20+00:00,1099.0,2005-05-31 13:54:48-07:00,924.0,269.0,2005-06-05 20:04:48+00:00,2.0,2017-02-15 17:57:20+00:00
6,16056.0,270.0,1.0,193.0,1.99,2017-01-26 05:10:14.996577-08:00,270.0,1.0,LEAH,CURTIS,...,83565,701767622697,2017-02-15 17:57:20+00:00,193.0,2005-05-26 06:41:48-07:00,3900.0,270.0,2005-05-30 13:21:48+00:00,2.0,2017-02-15 17:57:20+00:00
7,16057.0,270.0,1.0,1040.0,4.99,2017-01-31 04:03:42.996577-08:00,270.0,1.0,LEAH,CURTIS,...,83565,701767622697,2017-02-15 17:57:20+00:00,1040.0,2005-05-31 05:35:16-07:00,2546.0,270.0,2005-06-09 11:14:16+00:00,1.0,2017-02-15 17:57:20+00:00
8,16058.0,271.0,1.0,1096.0,8.99,2017-01-31 11:59:15.996577-08:00,271.0,1.0,PENNY,NEAL,...,11763,271149517630,2017-02-15 17:57:20+00:00,1096.0,2005-05-31 13:30:49-07:00,1066.0,271.0,2005-06-09 20:53:49+00:00,1.0,2017-02-15 17:57:20+00:00
9,16059.0,272.0,1.0,33.0,0.99,2017-01-25 02:47:17.996577-08:00,272.0,1.0,KAY,CALDWELL,...,46063,170739645687,2017-02-15 17:57:20+00:00,33.0,2005-05-25 04:18:51-07:00,1681.0,272.0,2005-05-27 10:58:51+00:00,1.0,2017-02-15 17:57:20+00:00
10,16060.0,272.0,1.0,405.0,6.99,2017-01-27 12:01:05.996577-08:00,272.0,1.0,KAY,CALDWELL,...,46063,170739645687,2017-02-15 17:57:20+00:00,405.0,2005-05-27 13:32:39-07:00,4090.0,272.0,2005-06-06 01:53:39+00:00,2.0,2017-02-15 17:57:20+00:00
11,16061.0,272.0,1.0,1041.0,6.99,2017-01-31 04:14:49.996577-08:00,272.0,1.0,KAY,CALDWELL,...,46063,170739645687,2017-02-15 17:57:20+00:00,1041.0,2005-05-31 05:46:23-07:00,4432.0,272.0,2005-06-06 16:50:23+00:00,2.0,2017-02-15 17:57:20+00:00
12,16062.0,272.0,1.0,1072.0,0.99,2017-01-31 08:21:16.996577-08:00,272.0,1.0,KAY,CALDWELL,...,46063,170739645687,2017-02-15 17:57:20+00:00,1072.0,2005-05-31 09:52:50-07:00,2557.0,272.0,2005-06-05 12:39:50+00:00,1.0,2017-02-15 17:57:20+00:00
13,16063.0,273.0,2.0,122.0,3.99,2017-01-25 18:14:47.996577-08:00,273.0,2.0,PRISCILLA,LOWE,...,2012,45387294817,2017-02-15 17:57:20+00:00,122.0,2005-05-25 19:46:21-07:00,2908.0,273.0,2005-06-03 02:07:21+00:00,1.0,2017-02-15 17:57:20+00:00
14,16064.0,273.0,2.0,980.0,0.99,2017-01-30 20:13:45.996577-08:00,273.0,2.0,PRISCILLA,LOWE,...,2012,45387294817,2017-02-15 17:57:20+00:00,980.0,2005-05-30 21:45:19-07:00,4169.0,273.0,2005-06-02 03:32:19+00:00,1.0,2017-02-15 17:57:20+00:00
15,16065.0,274.0,1.0,147.0,2.99,2017-01-25 22:46:16.996577-08:00,274.0,1.0,NAOMI,JENNINGS,...,85548,959949395183,2017-02-15 17:57:20+00:00,147.0,2005-05-26 00:17:50-07:00,633.0,274.0,2005-05-30 06:21:50+00:00,2.0,2017-02-15 17:57:20+00:00
16,16066.0,274.0,1.0,208.0,4.99,2017-01-26 06:38:48.996577-08:00,274.0,1.0,NAOMI,JENNINGS,...,85548,959949395183,2017-02-15 17:57:20+00:00,208.0,2005-05-26 08:10:22-07:00,3669.0,274.0,2005-05-27 10:55:22+00:00,1.0,2017-02-15 17:57:20+00:00
17,16067.0,274.0,2.0,301.0,2.99,2017-01-26 19:34:40.996577-08:00,274.0,1.0,NAOMI,JENNINGS,...,85548,959949395183,2017-02-15 17:57:20+00:00,301.0,2005-05-26 21:06:14-07:00,3448.0,274.0,2005-06-01 08:54:14+00:00,2.0,2017-02-15 17:57:20+00:00
18,16068.0,274.0,1.0,394.0,5.99,2017-01-27 09:54:37.996577-08:00,274.0,1.0,NAOMI,JENNINGS,...,85548,959949395183,2017-02-15 17:57:20+00:00,394.0,2005-05-27 11:26:11-07:00,1890.0,274.0,2005-06-03 23:44:11+00:00,2.0,2017-02-15 17:57:20+00:00
19,16069.0,274.0,2.0,474.0,2.99,2017-01-27 20:40:22.996577-08:00,274.0,1.0,NAOMI,JENNINGS,...,85548,959949395183,2017-02-15 17:57:20+00:00,474.0,2005-05-27 22:11:56-07:00,1474.0,274.0,2005-06-01 02:07:56+00:00,1.0,2017-02-15 17:57:20+00:00
20,16070.0,274.0,1.0,892.0,4.99,2017-01-30 06:31:22.996577-08:00,274.0,1.0,NAOMI,JENNINGS,...,85548,959949395183,2017-02-15 17:57:20+00:00,892.0,2005-05-30 08:02:56-07:00,471.0,274.0,2005-06-05 19:51:56+00:00,1.0,2017-02-15 17:57:20+00:00
21,16071.0,275.0,2.0,336.0,2.99,2017-01-27 01:43:49.996577-08:00,275.0,2.0,CAROLE,BARNETT,...,89502,874337098891,2017-02-15 17:57:20+00:00,336.0,2005-05-27 03:15:23-07:00,1811.0,275.0,2005-05-30 05:43:23+00:00,1.0,2017-02-15 17:57:20+00:00
22,16072.0,276.0,1.0,736.0,3.99,2017-01-29 06:38:33.996577-08:00,276.0,1.0,BRANDY,GRAVES,...,24645,75975221996,2017-02-15 17:57:20+00:00,736.0,2005-05-29 08:10:07-07:00,3689.0,276.0,2005-06-05 17:21:07+00:00,2.0,2017-02-15 17:57:20+00:00
23,16073.0,276.0,1.0,860.0,10.99,2017-01-30 01:13:42.996577-08:00,276.0,1.0,BRANDY,GRAVES,...,24645,75975221996,2017-02-15 17:57:20+00:00,860.0,2005-05-30 02:45:16-07:00,578.0,276.0,2005-06-08 14:28:16+00:00,1.0,2017-02-15 17:57:20+00:00
24,16074.0,277.0,2.0,308.0,6.99,2017-01-26 20:30:05.996577-08:00,277.0,2.0,OLGA,JIMENEZ,...,55802,363982224739,2017-02-15 17:57:20+00:00,308.0,2005-05-26 22:01:39-07:00,187.0,277.0,2005-06-05 03:24:39+00:00,2.0,2017-02-15 17:57:20+00:00
25,16075.0,278.0,1.0,1092.0,4.99,2017-01-31 10:44:23.996577-08:00,278.0,2.0,BILLIE,HORTON,...,56254,880756161823,2017-02-15 17:57:20+00:00,1092.0,2005-05-31 12:15:57-07:00,4412.0,278.0,2005-06-03 22:39:57+00:00,2.0,2017-02-15 17:57:20+00:00
26,16076.0,279.0,1.0,979.0,2.99,2017-01-30 20:05:37.996577-08:00,279.0,2.0,DIANNE,SHELTON,...,96204,117592274996,2017-02-15 17:57:20+00:00,979.0,2005-05-30 21:37:11-07:00,3917.0,279.0,2005-06-08 07:24:11+00:00,2.0,2017-02-15 17:57:20+00:00
27,16077.0,279.0,2.0,1019.0,0.99,2017-01-31 01:33:33.996577-08:00,279.0,2.0,DIANNE,SHELTON,...,96204,117592274996,2017-02-15 17:57:20+00:00,1019.0,2005-05-31 03:05:07-07:00,3975.0,279.0,2005-06-03 15:34:07+00:00,1.0,2017-02-15 17:57:20+00:00
28,16078.0,280.0,1.0,1014.0,4.99,2017-01-31 01:07:42.996577-08:00,280.0,2.0,TRACEY,BARRETT,...,36229,85059738746,2017-02-15 17:57:20+00:00,1014.0,2005-05-31 02:39:16-07:00,766.0,280.0,2005-06-01 13:03:16+00:00,2.0,2017-02-15 17:57:20+00:00
29,16079.0,281.0,2.0,650.0,2.99,2017-01-28 18:14:06.996577-08:00,281.0,2.0,LEONA,OBRIEN,...,30657,583021225407,2017-02-15 17:57:20+00:00,650.0,2005-05-28 19:45:40-07:00,4384.0,281.0,2005-05-30 04:02:40+00:00,1.0,2017-02-15 17:57:20+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16022,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10079.0,2005-07-31 20:05:45-07:00,4541.0,486.0,2005-08-04 23:25:45+00:00,2.0,NaT
16023,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10181.0,2005-08-01 00:00:44-07:00,3111.0,113.0,2005-08-05 02:33:44+00:00,1.0,NaT
16024,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9527.0,2005-07-31 01:02:24-07:00,2539.0,200.0,2005-08-09 09:08:24+00:00,2.0,NaT
16025,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9423.0,2005-07-30 21:10:14-07:00,3145.0,242.0,2005-08-07 23:34:14+00:00,2.0,NaT
16026,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10208.0,2005-08-01 00:54:51-07:00,3324.0,246.0,2005-08-05 05:39:51+00:00,2.0,NaT
16027,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9398.0,2005-07-30 20:09:00-07:00,1175.0,570.0,2005-08-02 06:35:00+00:00,2.0,NaT
16028,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9463.0,2005-07-30 22:30:57-07:00,883.0,352.0,2005-08-04 05:53:57+00:00,1.0,NaT
16029,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9509.0,2005-07-31 00:22:42-07:00,818.0,320.0,2005-08-04 06:24:42+00:00,1.0,NaT
16030,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9419.0,2005-07-30 21:04:59-07:00,4427.0,142.0,2005-08-06 22:47:59+00:00,2.0,NaT
16031,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9461.0,2005-07-30 22:29:13-07:00,1679.0,377.0,2005-08-06 03:55:13+00:00,2.0,NaT
16032,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10053.0,2005-07-31 19:15:39-07:00,4102.0,223.0,2005-08-08 05:32:39+00:00,1.0,NaT
16033,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10148.0,2005-07-31 22:19:16-07:00,1381.0,63.0,2005-08-05 07:15:16+00:00,2.0,NaT
16034,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10179.0,2005-07-31 23:49:54-07:00,2136.0,131.0,2005-08-02 03:46:54+00:00,2.0,NaT
16035,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9354.0,2005-07-30 18:32:51-07:00,510.0,595.0,2005-08-03 04:28:51+00:00,2.0,NaT
16036,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10064.0,2005-07-31 19:27:02-07:00,3140.0,41.0,2005-08-07 04:15:02+00:00,1.0,NaT
16037,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9355.0,2005-07-30 18:35:25-07:00,1122.0,201.0,2005-08-04 03:33:25+00:00,2.0,NaT
16038,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10120.0,2005-07-31 21:24:24-07:00,1709.0,396.0,2005-08-04 00:44:24+00:00,2.0,NaT
16039,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10083.0,2005-07-31 20:10:19-07:00,2585.0,449.0,2005-08-07 06:18:19+00:00,1.0,NaT
16040,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,1140.0,2005-05-31 19:36:30-07:00,3731.0,10.0,2005-06-08 01:33:30+00:00,2.0,NaT
16041,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9531.0,2005-07-31 01:11:53-07:00,4550.0,268.0,2005-08-07 09:49:53+00:00,1.0,NaT
16042,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9361.0,2005-07-30 18:43:49-07:00,4163.0,335.0,2005-08-07 04:24:49+00:00,1.0,NaT
16043,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,1157.0,2005-05-31 22:47:45-07:00,1449.0,61.0,2005-06-03 01:01:45+00:00,1.0,NaT
16044,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9400.0,2005-07-30 20:15:58-07:00,3910.0,368.0,2005-08-04 04:21:58+00:00,1.0,NaT
16045,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9512.0,2005-07-31 00:26:30-07:00,3786.0,173.0,2005-08-05 06:43:30+00:00,2.0,NaT
16046,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9401.0,2005-07-30 20:18:19-07:00,2057.0,331.0,2005-08-07 22:46:19+00:00,1.0,NaT
16047,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9488.0,2005-07-30 23:42:42-07:00,4221.0,528.0,2005-08-09 05:15:42+00:00,1.0,NaT
16048,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9376.0,2005-07-30 19:11:49-07:00,451.0,86.0,2005-08-05 01:14:49+00:00,1.0,NaT
16049,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,1127.0,2005-05-31 17:45:49-07:00,2412.0,387.0,2005-06-09 05:41:49+00:00,2.0,NaT
16050,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,10092.0,2005-07-31 20:28:09-07:00,4151.0,364.0,2005-08-02 04:37:09+00:00,1.0,NaT
16051,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,...,None,None,NaT,9449.0,2005-07-30 22:02:34-07:00,2.0,581.0,2005-08-06 09:09:34+00:00,1.0,NaT